{:paths ["src"]
 :deps {
   io.github.babashka/instaparse-bb {:git/sha "059045f6a8450bda74eb30136ddd2c5475f788d1"}
   dev.nubank/docopt {:mvn/version "0.6.1-fix7"}
   fipp/fipp {:mvn/version "0.6.26"}
 }}
